@if (ViewBag.Error != null)
{
<div class="alert alert-danger">
    <strong>@ViewBag.Error</strong><h4>Te podria ayudar una pista.</h4>
</div>
} 
<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>El amor es asi.</h1>
    <p></p>
    <img src="/img/baljeet_enamorado.jpg" class="rounded" alt="baljeet enamorado">
    <form class="mt-5" action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value = "4">
        <input type="text" name="clave" value="">
        <input type="submit" class="btn btn-secondary">
        <button class = "btn btn-secondary" onclick="alert('Pista: H(x) es un polinomio de primer grado')"> Pista</button>
        <button class = "btn btn-secondary" onclick="alert('Pista:  H(x) = -2x - 8')"> Otra Pista</button>
    </form>
</div>