@if (ViewBag.Error != null)
{
<div class="alert alert-danger">
    <strong>@ViewBag.Error</strong><h4>Te podria ayudar una pista.</h4>
</div>
}
<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Problemas con los rieles</h1>
    <p>Phinias y Ferb estan probando su montaña rusa pero olvidaron de realizar un calculo, no saben si los rieles resistiran hasta poder completarlo.
        <br> Necesitan hacerlo antes de llegar a esa parte del trayecto para poder apretar los frenos de emergencia en el peor de los casos.
    </p>
    <img src="/img/montana_rusa.jpeg" class="rounded" alt="Montaña rusa">
    <form class="mt-5" action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value = "3">
        <input type="text" name="clave" value="">
        <input type="submit" class="btn btn-secondary">
        <button class = "btn btn-secondary" onclick="alert('Pista:')"> Pista: Pensa de que grado es el polinomio y como proceder</button>
        <button class = "btn btn-secondary" onclick="alert('Pista:')"> Otra Pista: Tenes que realizar el Teorema de Gauss</button>
    </form>
</div>