@if (ViewBag.Error != null)
{
<div class="alert alert-danger">
    <strong>@ViewBag.Error</strong><h4>Te podria ayudar una pista.</h4>
</div>
}
<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Candace en problemas!!</h1>
    <p>Candace esta en problemas y necesita tu ayuda, como tiene tu numero picaron?. <br>
    "Necesito terminar este ejercicio de polinomios para mañana o no voy a aprobar la materia"</p>
    <img src="/img/candace_nerviosa.jpg" class="rounded" alt="Candace Nerviosa">
    <form class="mt-5" action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value = "2">
        <input type="text" name="clave" value="">
        <input type="submit" class="btn btn-secondary">
        <button class = "btn btn-secondary" onclick="alert('Pista:')"> Pista: Intenta identificar el 3 como raiz en la ecuacion</button>
        <button class = "btn btn-secondary" onclick="alert('Pista:')"> Otra Pista: Fijate el numero que esta elevando el 3</button>
    </form>
</div>