@if (ViewBag.Error != null)
{
<div class="alert alert-danger">
    <strong>@ViewBag.Error</strong><h4>Te podria ayudar una pista.</h4>
</div>
}
<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Tercera Sala</h1>
    <p></p>
    <img>
    <form class="mt-5" action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value = "3">
        <input type="text" name="clave" value="">
        <input type="submit" class="btn btn-secondary">
        <button class = "btn btn-secondary" onclick="alert('Pista:')"> Pista</button>
        <button class = "btn btn-secondary" onclick="alert('Pista:')"> Otra Pista</button>
    </form>
</div>