<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Primera Sala</h1>
    <p>NOO!!, El doctor Doofenshmirtz se volvio loco!<br>
    Agarro a tu gato y lo esta por matar!!! Detenelo.
    </p>
    <img src="/img/dcdoof.jpg" class="rounded" alt="Dc Doofenshmirtz">
    
</div>