@if (ViewBag.Error != null)
{
<div class="alert alert-danger">
    <strong>@ViewBag.Error</strong><h4>Te podria ayudar una pista.</h4>
</div>
}
<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Doofenshmirtz Evil Inc</h1>
    <p>NOO!!, El doctor Doofenshmirtz se volvio loco!<br>
    Agarro a tu gato y lo esta por matar!!! Detenelo.
    </p>
    <img src="/img/dcdoof.jpg" class="rounded" alt="Dc Doofenshmirtz">
    <form class="mt-5" action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value = "1">
        <input type="text" name="clave" value="">
        <input type="submit" class="btn btn-secondary">
        <button class = "btn btn-secondary" onclick="alert('Pista: Mira las variables')"> Pista</button>
        <button class = "btn btn-secondary" onclick="alert('Pista: Cuantas veces se repite la variable')"> Otra Pista</button>
    </form>
</div>