<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Primera Sala</h1>
  <p></p>
  

  <a href ='@Url.Action("Habitacion")' target="_blank" type="button" class="btn btn-secondary">Jugar</a>
</div>