<div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Tutorial: Sala de Escape de Polinomios!</h1>
  <p>En esta Sala de Escape recorrerás 4 salas que para pasar a la siguiente deberas resolver un ejercicio de polinomios visto en matematica este año. 
     Los ejercicios incluyen factorización, multiplicidad, y otros conceptos. Te deseamos mucha suerte para resolver esta sala de escape! 
  </p>
</div>
